# Jya file project mdhe nhi pahije tya adhi add kraycha 
# *.txt    -- means txt extension cha all files ignore honar
# app/*    -- apps cha all file ignore honar
text.txt            
text1.txt
logger.log