{% extends 'base.html' %}
 
{% block content %}  
      <h2><i><u>Edit Book in Library</u></i></h2>

      <form method="post">
        {% csrf_token %}         <!-- We add this token for security purpose-->
        <label> Book Name :- </label>
        <input type="text" name="nm" value="{{single_book.name}}" required><br><br>

        <label> Book Price :- </label>
        <input type="number" name="prc" value="{{single_book.price}}" required><br><br>

        <label> Book Qty :- </label>
        <input type="number" name="qty" value="{{single_book.qty}}" required><br><br>

        <label> Book Is Published :- </label>

        {% if single_book.is_published %}
            Yes &nbsp;<input type="radio" value="YES" name="ispub" checked>&nbsp;&nbsp;&nbsp;&nbsp;
            No &nbsp;<input type="radio" value="NO" name="ispub">                 <!--YES,No value set keli backend sathi-->
        {% else %}
            Yes &nbsp;<input type="radio" value="YES" name="ispub" >&nbsp;&nbsp;&nbsp;&nbsp;
            No &nbsp;<input type="radio" value="NO" name="ispub" checked>    
        {% endif %}  
        
        <br><br>

        <input type="submit" class="btn btn-primary">

      </form>
{% endblock %}