{% extends 'base.html' %}

{% block content %} 
        
<body>

    <button class="button button1">Green</button></body>
            <button type="button" href="{% url 'create_activebook_csv' %}" style="color: black;">Active Book CSV</button>
            
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_activebook_csv' %}" style="color: black;">Active Book CSV</a>
              </li>

            

            
            
        



{% endblock %}